.style-col {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.bg-1 {
  background-color: #ecfccb;
  display: flex;
  border-radius: 5px;
  padding: 15px;
  width: 300px;
}
.bg-2 {
  background-color: #cffafe;
  display: flex;
  border-radius: 5px;
  padding: 15px;
  width: 300px;
}
.bg-3 {
  background-color: #cbd5e1;
  display: flex;
  border-radius: 5px;
  padding: 15px;
  width: 300px;
}
.img {
  height: 50px;
  width: 50px;
  display: flex;
  align-self: center;
  margin-right: 20px;
}
